/*geral*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
ol, ul {
    list-style: none;
}
img {
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 64px;
    background-color: #141313;
    display: flex;
}
header img{
    width: 64px;
    height: 64px;
    margin-left: 130px;
    border-radius: 50%;
}
header nav{
    display: flex;
    margin-right: 130px;
    gap: 80px;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
}
header nav a{
    font-family:'Nunito';
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: none;
    position: relative;
    z-index: 1;
    transition: .6s;
}    
.botao-nav::before{
    content: "";
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color:#F60909;
    position: absolute;
    left: -16px;
    top: -7px;
    z-index: -1;
}
.botao-nav:hover{
    transform: scale(1.2);
    cursor: pointer;
}
header a:hover{
    transform: scale(1.1);
}

/*1º parte da main*/
.main-1{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 660px;
    font-family: "Kaushan Script";
}
.main-1 img{
    width: 600px;
    height: 400px;
    margin-top: 60px;
    margin-left: 130px;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
    animation: scale 8s ease-in-out infinite;
}
@keyframes scale {
    50%{
        transform: scale(1.04);
    }
}
.mat{
    font-size: 55px;
    display: grid;
    height: min-content;
}
.mat h1{
    margin-right: 130px;
    margin-top: 60px;
    
}
.mat a{
    text-decoration: none;
    margin-top: 50px;
    position: relative;
    color: #F60909;
    width: 400px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: .3s;
}
.mat a:hover{
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #141313;
    border: none;
}
.mat a::after{
    content: "";
    width: 404px;
    height: 104px;
    border-radius: 0px 0px 0px 10px;
    background-color: #F60909;
    position: absolute;
    z-index: -1;
    left: -100px;
    top: 100%;
}
.mat a:hover::after{
    animation: desloca .9s;
    left: 0px;
    top: 0px;
}
@keyframes desloca {
    0% {
        left: -100px;
        top: 100%;   
    }
    50% {
        left: 15%;
        top: -25%;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

/*2º parte da main*/
.main-2{
    position: relative;
    background-color: #141313;
    height: 760px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.icone1 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 47.5%;
}
.parte1main2 {
    margin-left: 130px;
    margin-top: 120px;
}
.parte1main2 img{
    width: 480px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
}
.setae{
    content: " ";
    display: block;
    position: absolute;
    z-index: 1;
    border-left: 10px solid transparent ;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #4A2929;
    top: 260px;
    rotate: -90deg;
}
.setad{
    content: " ";
    display: block;
    position: absolute;
    z-index: 1;
    border-left: 10px solid transparent ;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #4A2929;
    top: 260px;
    left: 590px; 
    rotate: 90deg;
}
.parte1main2 p{
    position: absolute;
    color: white;
    font-family: "Nunito";
    font-size: 30px;
    line-height: 55px;
    top: 480px;
    width: 35%;
    text-align: center;
}
.marcacao{
    background-color: #F60909;
    border-radius: 15px;
    padding: 0px 8px;
    font-weight: bold;
}
.parte1main2::after{
    content: " ";
    width: 6px;
    height: 516px;
    left: 670px;
    background-color:white;
    position: absolute;
}
.parte2main2 {
    font-family: "Nunito";
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: grid;
    height: min-content;
    margin-top: 120px;
}
.parte2main2 h1{
    font-family: "Kaushan Script";
    font-size: 55px;
    font-weight: 400;
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    color: #F60909;
}
.meiodia-noite{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    gap: 80px;
    margin-top: 20px;
}
.lista-horarios{
    display: flex;
    margin-top: 60px;
    line-height: 1.8;
}
.lista-semana{
    padding-left: 100px;
    padding-right: 20px;
}
.lista-semana p{
    position: relative;
}
.lista-meiodia{
    padding-left: 30px;
    padding-right: 20px;
}
.lista-noite{
    padding-left: 100px ;
}
.lista-semana p::before{
    content: " ";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #F60909;
    position: absolute;
    top: 18px;
    left: -60px;
}

/*3º parte da main*/
.main-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-3 h2{
    font-family: "Kaushan Script";
    font-size: 35px;
    margin-top: 50px;
    font-weight: 600;
    margin-left: 130px;
    text-align: center;
    justify-self: start;
    height: min-content;
}
.icone2 {
    width: 100px;
    height: 80px;
    margin-top: 20px;
    justify-self: center;
    grid-column: span 2;
}
.main-3 ul{
    display: grid;
    font-weight: bold;
    font-size: 20px;
    font-family: "Nunito";
    margin-left: 130px;
    margin-top: 50px;
    gap: 30px;
}
.imagem3{
    border-radius: 500px;
    width: 560px;
    height: 560px;
    grid-row: 2;
    grid-column: 2/3;
    margin-bottom: 100px;
}
.main-3 h3{
    width:fit-content;
    padding: 10px 15px 10px 45px;
    background-color: #F60909;
    color: white;
    border-radius: 15px;
    position: relative;
}
.main-3 h3::before{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 15px;
    top: 18px;
}

/*footer*/
footer{
    background-color: black;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 0;
}
footer p{
    color: white;
    font-family: "Nunito";
    font-size: 25px;
    justify-self: center;
    align-self: center;
}
footer img{
    width: 35px;
    height: 35px;
    justify-self: right;
    align-self: center;
    margin-right: 130px;
}

/*animação*/
[data-anime] {
    opacity: 0;
    transition: .3s;
}
[data-anime="top"] {
    transform: translate3d(0, 50px, 0);
}
[data-anime="direita"] {
    transform: translate3d(-50px, 0, 0);
}
[data-anime].animate{
    transition: 1.6s;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}